@import 'variables';

.adopt-home-block {
  margin: 30px 0 50px;
  h2 {
    font-size: 3rem;
    color: $primary-color;
  }

  h3.no-results {
    text-align: center;
  }

  a.link-view-more {
    padding: 20px 0;
    text-decoration: none;
    font-size: 1.2rem;
    color: $primary-color;
    &:hover {
      text-decoration: underline;
    }
  }
}

a.animal-container {
  text-decoration: none;
  color: #282c34;
  .animal-paper-container {
    padding: 10px 10px 7px 10px;
    h3 {
      color: $primary-color;
    }
    .img-block {
      object-fit: cover;
      width: 131px;
      height: 131px;
    }
    .description {
      padding: 0px 20px;
    }
  }
  &:hover {
    .animal-paper-container {
      background-color: rgba(0, 0, 0, 0.04);
    }
  }
}

.footer_links {
  svg {
    padding-right: 10px;
  }
}

@media all and (max-width: 600px) {
  .link-view-more-container {
    justify-content: center !important;
    a {
      margin-top: 20px;
      font-size: 1.6rem !important;
    }
  }
}

