@import "variables";

.adotpt-container {
  .adopt-header {
    margin-top: 5px;
    .thumbnail img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      -webkit-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      -moz-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    }
    h1 {
      color: $primary-color;
    }
  }
}

.paper-container {
  padding: 10px 30px 20px;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
  -moz-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
  box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
  margin-bottom: 30px;
  h3 {
    color: $primary-color;
  }
  .details-container {
    display: flex;
    flex-flow: row wrap;
    & > div {
      padding-right: 40px;
      text-align: center;
      line-height: 1.5em;
    }
    ul.list-after-adopt {
      font-size: 14px;
      li {
        padding-bottom: 10px;
      }
    }
  }
}

.form-container {
  form {
    width: 100%;
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .submit-button-container {
    text-align: center;
    .submit-button {
      background: $primary-color;
      padding: 10px 30px;
      &:hover {
        background: $primary-color-dark;
      }
    }
  }
  .radio-inline {
    flex-direction: row;
  }
}

header {
  .header_menu {
    border-bottom: 1px solid #f0f0f0 !important;
  }
}

.breadcrumbs {
  padding-top: 15px;
}