@import "variables.scss";

.animal-filter-container {
    background: rgba(111, 111, 111, 0.1);
    padding: 30px 20px 40px 20px;
    border-radius: 5px;
    margin-top: 35px;
    .filter-selects {
        min-width: 150px;
        label + .MuiInput-formControl {
            font-size: 20px;
        }
    }
    .filter_search_container {
        display: flex;
        align-items: center;
        a {
            color: $primary-color;
            padding-top: 10px;
        }
    }
}

.filter-list-container {
    min-height: 485px;
}