@import "variables";

.animal-details-content {
  margin-top: 15px;

  .details-header {
    h1 {
      color: $primary-color;
    }
    button {
      background: $primary-color;
    }
  }
}

.btn-adopt {
  padding-top: 15px;
  a {
    display: block;
    text-align: center;
    background: $primary-color;
    padding: 15px 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      -webkit-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      -moz-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    }
  }
}

.animal-description-container {
  padding-top: 10px;
  .paper-container {
    padding: 10px 30px 20px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    -moz-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    margin-bottom: 30px;
    h3 {
      color: $primary-color;
    }
    .share-icons svg{
      margin-right: 10px;
    }
  }
  .btn-donate {
    display: block;
    text-align: center;
    background: $primary-color;
    padding: 20px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      -webkit-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      -moz-box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
      box-shadow: 0px 0px 17px 0px rgba(40,44,52,0.37);
    }
  }
}

.breadcrumbs {
  padding-top: 25px;
}

header {
  .header_menu {
    border-bottom: none !important;
  }
}