@import 'variables';

.Banner
{
  height: 500px;
  position: relative;

  .Media
  {
    background-color: white;
    height: 100%;
    overflow: hidden;
    position: relative;
    .MediaCaption
    {
      text-overflow: ellipsis;
      position: absolute;
      bottom: 0;
      padding: 15px;
      background-color: black;
      color: white;
      opacity: 0.6;
      width: 100%;
      height: 10%;
      transition: 300ms;
      cursor: pointer;
      &:hover
      {
        opacity: 0.8;
      }
    }
    transition: 300ms;
    cursor: pointer;
    &:hover
    {
      filter: brightness(115%);
    }
  }

  .BannerGrid
  {
    height: 100%;
    position: relative;
  }

  .Content
  {
    color: white;
    background-color: $primary-color-light;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding: 30px;
    transition: 300ms;
    &:hover, &:active
    {
      background-color: $primary-color;
      .ViewButton
      {
        background-color: rgb(241, 241, 241);
        color: $primary-color-dark;
      }
    }
    .Title
    {
      font-size: 35px;
      font-weight: 500;
    }
    .Caption
    {
      margin-top: 10px;
      font-size: 18px;
    }
    .ViewButton
    {
      margin-top: 40px;
      color: white;
      font-size: 20px;
      border: 3px solid white;
      text-transform: capitalize;
      transition: 200ms;
    }
  }
}

@media all and (max-width: 600px) {
  .Banner {
    .Title {
      line-height: 2rem !important;
    }
  }
}

