@import "variables";

footer {
  background: #282c34;
  color: white;
  padding: 20px 50px;
  margin-top: 100px;
  font-size: 14px;

  .footer_links_uteis {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 1em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer_contacts {
    max-width: 300px;
  }
}

@media all and (max-width: 600px) {
  footer {
    font-size: 16px;
  }
  .footer_contacts_container,
  .footer_links_uteis_container {
    justify-content: flex-start !important;
  }

}