@import "variables";

.gallery-detail-container {
  height: 500px;
  margin: 4px;
  .image-container {
    height: 50%;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 250px;
    &.first-image {
      height: 511px;
    }
  }
}

@media all and (max-width: 600px) {
  .gallery-detail-container {
    height: 350px;
    margin: 4px;
    .image-container {
      height: 50%;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 175px;
      &.first-image {
        height: 361px;
      }
    }
  }

}