@import 'variables';

.header {
  .header_container {
    background-color: #1976D2;
    height: 130px;
    .header_logo {
      text-align: center;
      margin-left: -20px;
    }
    a:hover {
      text-decoration: none;
    }
    h1 {
      font-size: 3rem;
      color: white;
    }
  }

  .header_menu {
    border-bottom: 1px solid #f0f0f0;
  }

}

.top_menu {
  a {
    font-size: 1em;
    padding: 20px;
    display: inline-flex;
    text-decoration: none;
    text-transform: uppercase;
    color: #282c34;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    &:hover{
      color: $primary-color;
      background-color: rgba(0, 0, 0, 0.04);
    }
    &.active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}

.menu_btn_bar {
  color: white;
  margin-left: 20px;
}

.search_container {
  display: flex;
  background: rgba(111, 111, 111, 0.1);
  padding: 5px;
  align-items: center;
  border-radius: 25px;
  .search_icon {
    padding: 5px 10px 2px 2px;
  }
}

.mobile-drawer {
  .MuiDrawer-paper {
    background: $primary-color;
  }
  .drawerContainer {
    padding: 60px 10px 10px 10px;
    a {
      color: white;
      li {
        font-size: 20px !important;
      }
    }
  }
}

.breadcrumbs {
  padding-top: 15px;
  font-size: 14px;
  color: #282c34;
  a {
    color: #282c34;
    font-size: 14px;
    text-decoration: none;
    &.previous {
      color: #7d7d7d;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .selected {
    font-size: 14px;
    color: $primary-color;
  }
}


@media all and (max-width: 1060px) {
  .search_container {
    display: none!important;
  }
  .top_menu a {
    padding: 10px;
  }
}

@media all and (max-width: 600px) {
  .header .header_container {
    height: 110px;
    h1 {
      font-size: 2.6rem !important;
    }
  }

}
