@import "variables";

h1 {
  color: $primary-color;
}

.wrapper {
  display: flex;
  justify-content: center;
  min-height: 500px;
  flex-direction: column;
  align-items: center;
  h1 {
    color: #ff9800;
  }

  svg {
    font-size: 300px;
    color: #ff9800;
  }
}